
.form-group {
    border: 1px;
    border-style: solid;
    border-color: black;
    margin: 2em;
    padding: 1em;
    border-radius: 30px;
    vertical-align: middle;
    text-align: left;
    position: relative;
    
    
}