
.background {
  width: 100%;
  background-color: lightblue;
  flex: 0 0 auto;
  padding: auto;
}

.wrap {
  max-width: 100%;
  overflow: hidden;
  word-wrap: break-word;
}

.post {
  line-break: auto;
  margin-bottom: 3px;
}